<div ng-controller="LoginController">
    <div class="col-xs-2">Usuario:</div>
    <div calss="col-xs-10">
        <input type="text" ng-model="model.user">
        <span> Hello {{user }}</span>
    </div>
    <div class="col-xs-2">Password:</div>
    <div calss="col-xs-10">
        <input type="text" ng-model="model.pass">
    </div>
    <div class="col-xs-12">
        <button ng-click="model.user=''; model.pass=''">Reset</button>
        <button ng-click="next()">Continue</button>
    </div>
</div>
