<div ng-controller="FormController" class="col-xs-12 col-md-6 col-md-offset-3">

	<form name="uploadForm" class="form-horizontal" ng-submit="saveMovie()" novalidate>
		<fieldset id="movie_data">
			<legend>Movie Data</legend>
			<div class="form-group">
				<label for="title" class="col-md-2 control-label">Title</label>
				<div class="col-md-10">
					<input type="text" ng-model="model.title" name="title" class="form-control" required>
					<div class="alert alert-warning" ng-show="uploadForm.title.$dirty && uploadForm.title.$error.required">
						<strong>The title is required!</strong> You must introduce a title.
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="image-url" class="col-md-2 control-label">poster</label>
				<div class="col-md-10">
					<input type="url" name="image_url" ng-model="model.image_url" class="form-control" required placeholder="url">
					<div class="alert alert-warning" ng-show="uploadForm.image_url.$dirty && uploadForm.image_url.$error.required">
						<strong>The url is required!</strong> You must introduce an url.
					</div>
					<div class="alert alert-danger" ng-show="uploadForm.image_url.$dirty && uploadForm.image_url.$error.url">
						<strong>The url is invalid!</strong> You must introduce a valid url.
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="video-url" class="col-md-2 control-label">video</label>
				<div class="col-md-10">
					<input type="url" name="video_url" ng-model="model.video_url" class="form-control" required placeholder="url">
					<div class="alert alert-warning" ng-show="uploadForm.video_url.$dirty && uploadForm.video_url.$error.required">
						<strong>The url is required!</strong> You must introduce an url.
					</div>
					<div class="alert alert-danger" ng-show="uploadForm.video_url.$dirty && uploadForm.video_url.$error.url">
						<strong>The url is invalid!</strong> You must introduce a valid url.
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="overview" class="col-md-2 control-label">Overview</label>
				<div class="col-md-10">
					<textarea name="overview" class="form-control"></textarea>
				</div>
			</div>
			<button class="btn btn-primary pull-right" type="submit" ng-disabled="uploadForm.$invalid">Create</button>
		</fieldset>
	</form>

</div>